#home{
    padding: var(--menu-offset-x);
}

#home h1{
    margin: 0rem;
}

#home h2{
    margin: 0rem;
    margin-top: 4rem;
}

#home h3{
    margin: 0rem;
    margin-top: 1rem;
}

#home img {
    clip-path: circle(7rem at 7rem 7rem);
    max-width: 25rem;
    max-height: 18.5rem;
    height: auto;
    background-color: #fff;
    object-fit:cover;
    object-position: 0rem -4rem;
}